@use '../../../../styles/variables' as vars;

.form{
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-label{
        font-size: 16px;
        padding-left: 7px;
    }

    &-input{
        width: 250px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid vars.$border-color;
        border-radius: 12px;
        background-color: vars.$bg-input;
        transition: all 0.3s ease;
        color: #fff;
    }

    &-input:focus{
        outline: none;
        border-color: #6366f1;
        box-shadow: 0 0 8px rgba(99, 102, 241, 0.6);
    }

    &-input::placeholder{
        color: vars.$text-muted;
    }
}