@use '../../../../styles/variables' as vars;

.form-button {
    width: 270px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: vars.$primary;
    box-shadow: 0 10px 28px rgba(99, 102, 241, 0.3);
    color: white;
    transition: all 0.3s ease;
    animation: fadeIn 0.6s ease-out 0.4s backwards;;
}

.form-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 36px rgba(99, 102, 241, 0.4);
}

button:active {
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        }   
}