<div class="auth">
    <div class="bg">
        <div class="bg-grid"></div>
        <div class="orb orb-blue"></div>
        <div class="orb orb-orange"></div>
    </div>
    <div class="form">
        <div class="header">
            <div class="brand">
                <div class="brand-icon">{{ brandIcon }}</div>
                <div class="brand-name">{{ brandName }}</div>
            </div>
            <div class="slogan">
                {{ slogan }}
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
